Running the command from another machine, which has limited Internet connectivity gave additional error:
```
# tlsa --verify --protocol tcp --starttls no --port 443 --output generic labs.ripe.net
Traceback (most recent call last):
  File "/bin/tlsa", line 799, in <module>
    sock.connect((str(address), int(args.port)))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/bin/tlsa", line 805, in <module>
    except ssl.SSLCertVerificationError:
AttributeError: module 'ssl' has no attribute 'SSLCertVerificationError'
```
Which could be RHEL/OEL packaging issue, really.


The main issue is that the server is not reachable.

The commit afc7b2ff4ee170417d451d23862a0baf9e882386 fixed the resulting bad traceback/exception.

Probably the output could be optimized to actually show that "no certificate at all" came from the server.

I assume that is fixed with release 3.6.

Maybe I wasn't clear enough, and a later comment misled you. The problem I experienced is still there. `labs.ripe.net` is one of our Web sites which has(maybe not so common) TLSA configuration. It's TLSA record is valid according to other external verification tools.

For the old `tlsa` script, which reports itself as `tlsa version: 2.7` this works:
```
$ tlsa --verify --protocol tcp --starttls no --port 443 --output generic labs.ripe.net
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2001:67c:2e8:25::c100:b12)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2001:67c:2e8:25::c100:b12)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2001:67c:2e8:25::c100:b12)
SUCCESS (Usage 2 [DANE-TA]): A certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (193.0.11.18)
SUCCESS (Usage 2 [DANE-TA]): A certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2001:67c:2e8:25::c100:b12)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2001:67c:2e8:25::c100:b12)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2001:67c:2e8:25::c100:b12)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2001:67c:2e8:25::c100:b12)
```
There are two `SUCCESS` lines.

For `tlsa version: 3.6`, the same command gives:
```
# ./tlsa --verify --protocol tcp --starttls no --port 443 --output generic labs.ripe.net
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 2e830706... for 193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 2e830706... for 2001:67c:2e8:25::c100:b12)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 f1647a5e... for 193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 f1647a5e... for 2001:67c:2e8:25::c100:b12)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 2bbad93a... for 193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 2bbad93a... for 2001:67c:2e8:25::c100:b12)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 919c0df7... for 193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 919c0df7... for 2001:67c:2e8:25::c100:b12)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 02549086... for 193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 02549086... for 2001:67c:2e8:25::c100:b12)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 6ddac186... for 193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 6ddac186... for 2001:67c:2e8:25::c100:b12)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 9d637b3d... for 193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 9d637b3d... for 2001:67c:2e8:25::c100:b12)
```
There are no `SUCCESS` lines at all, while there should be two.

So, somewhere down the code, there is a difference in the behaviour between 2.7 and 3.6. And latest versions give wrong results.


OK.

```
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 2bbad93a... for 193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 2bbad93a... for 2001:67c:2e8:25::c100:b12)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 02549086... for 193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 02549086... for 2001:67c:2e8:25::c100:b12)
SUCCESS (Usage 2 [DANE-TA]): A certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 2e830706... for 193.0.11.18)
SUCCESS (Usage 2 [DANE-TA]): A certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 2e830706... for 2001:67c:2e8:25::c100:b12)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 919c0df7... for 193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 919c0df7... for 2001:67c:2e8:25::c100:b12)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 6ddac186... for 193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 6ddac186... for 2001:67c:2e8:25::c100:b12)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 f1647a5e... for 193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 f1647a5e... for 2001:67c:2e8:25::c100:b12)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 9d637b3d... for 193.0.11.18)
FAIL (Usage 2 [DANE-TA]): No certificate in the certificate chain offered by the server (including the end-entity certificate) matches the TLSA record (2 1 1 9d637b3d... for 2001:67c:2e8:25::c100:b12)
```

Clearly on your system something is different.

When you call `tlsa labs.ripe.net -u 2 -m 1 -s 1` and press N each time, does it offer you all three certs?

If not: In line 817 (get peer certificate chain), can you add print("1\n") up to 3 in the three if clauses and tell me which is used (it should be 1 or 2, never 3 [the else clause]).

Which python version do you use? Which python ssl library?

In case you use python < 3.13 I fear checks wont work for any certificate chain based method (as python has no function to access the chain). Either upgrade python or downgrade tlsa tool to version <= 3.4.

Please report back.

I guess `python < 3.13` sums it all. I followed the instructions(only we actually need line 915 and below, as it's not `verify` flow).

Of course, it gave `3` as output, which is understandable - this is Oracle Enterprise Linux 8, a clone of RHEL 8/CentOS8, with `python3.6` as the default version. The hash-slinger was installed via packages:

```
Installed Packages
Name         : hash-slinger
Version      : 3.5
Release      : 1.el8
Architecture : noarch
Size         : 91 k
Source       : hash-slinger-3.5-1.el8.src.rpm
Repository   : @System
From repo    : epel
Summary      : Generate and verify various DNS records such as SSHFP, TLSA and OPENPGPKEY
URL          : https://github.com/letoams/hash-slinger/
License      : GPL-2.0-or-later
Description  : This package contains various tools to generate special DNS records:
             :
             : sshfp       Generate RFC-4255 SSHFP DNS records from known_hosts files
             :             or ssh-keyscan
             : tlsa        Generate RFC-6698  TLSA DNS records via TLS
             : openpgpkey  Generate RFC-7929 DNS records from OpenPGP
             :             keyrings
             : ipseckey    Generate RFC-4025 IPSECKEY DNS records on Libreswan
             :             IPsec servers
             :
             : This package has incorporated the old 'sshfp' and 'swede' commands/packages
```
Scripts have hardcoded `#!/usr/bin/python3.6` in the shebang line, so no chances to get `get_unverified_chain()` or `get_peer_cert_chain(binary_form=True)`.

As I understand, it's not feasible to fix the issue for such an old platform and Python, so we'd look for different tools to generate correct records. Shell+openssl should do the job, I presume.

Thank you!

